<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a [routerLink]="['/servers',server.id]" [queryParams]="{allowEdit: server.id === 3 ? '1':'0'}" fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
      <!--<a [routerLink]="['/servers',server.id]" This routerlink says to angular to go to base url-localhost:4200 and then append this router to the url
      <a [routerLink]="['servers',server.id]" or <a [routerLink]="['./servers',server.id]"This routerlink says to angular to n append this router to the current url in the browser
    <a [routerLink]="['../servers',server.id]" or <a [routerLink]="['../../servers',server.id]" This routerlink says to angular to go one head up or 2 head up of the current url and then append this router at that time-->
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <!-- <app-edit-server></app-edit-server>
    <hr>
   <app-server></app-server>-->

    <!--instead of adding directly child components tag in parent component(as above), we can add child components using routing technique with the help of nested routing as below
    As per the below router outlet tag what ever the childern declared in servers router in app module those all childern components will be accessed here by using routing-->

    <router-outlet></router-outlet>
  </div>
</div>

